@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

h2 {
    font-size: 35px;
}

header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#6C3E8A, #341C5E);
}

.up-header {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.up-header .logo-container {
    background: #7A4795;
    padding: 40px 20px 20px 20px;
    border-radius: 0px 0px 16px 16px;
    border: solid 1px black;
    border-top: none;
}

.up-header ul {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    flex-wrap: wrap;
}

.up-header ul li {
    margin: 0px 60px;
}

.up-header ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.down-header {
    display: flex;
    align-items: center;
    margin: 100px 0px 0px 0px;
    width: 100%;
    flex-wrap: wrap;
}

.down-header .header-img {
    width: 650px;
    margin: 0;
}

.down-header .header-img img {
    width: 800px;
    margin: 0;
}

.down-header .header-text {
    color: white;
}

.curve {
    margin-bottom: -10px;

}

.content-up {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 200px;
    padding: 80px 0px 0px 80px;
}

.content-up h1 {
    color: #FD951A;
    margin-bottom: 80px;
}

.content-up p {
    color: #ADADAD;
    font-size: 24px;
    margin-bottom: 40px;
}

.content-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C3E8A;
    padding: 0px 0px 0px 100px;
    margin: 0;
}

.content-down img {
    width: 700px;
}

.content-down ul {
    margin-top: 200px;
}

.content-down ul li {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.content-down ul li h2 {
    margin-left: 40px;
}

.content-down h2 {
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #FD951A;
    padding: 40px 80px;
}

.formulario h2 {
    font-size: 4em;
}

.formulario form input {
    height: 30px;
    font-size: 40px;
    border-style: none;
}

.formulario form .text {
    width: 450px;
    margin: 20px 20px 0px 0px;
    border-radius: 10px;
    padding: 10px 0px 10px 40px;
}

.formulario form .button {
    height: 55px;
    width: 200px;
    background-color: #5B2482;
    color: #fff;
    padding: 0px 0px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #6C3E8A;
    padding: 60px;
}

@media (max-width: 1050px)
{
    .up-header ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .up-header ul li {
        margin-top: 20px;
    }

    .down-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 80px 0px;
    }

    .down-header .header-img img {
        width: 80%;
        margin: 0;
    }

    .header-text {
        margin-top: 40px;
    }

    .content-down img {
        display: none;
    }

    .formulario form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario form .button {
        margin-top: 40px;
    }
}